# Ignorar ambiente virtual
venv/
.env/
.venv/

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]

# Checkpoints Jupyter
.ipynb_checkpoints/

# Configurações do VS Code
.vscode/

#pasta inteira de cache
volume/cache/*

# Arquivos de dados comuns
*.csv
*.tsv
*.parquet
*.xls
*.xlsx
*.json
*.zip
*.log

# Arquivos temporários
*.tmp
*.bak
